<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 header">
      <ul>
        <img class="header-logo" src="../../assets/img/logo.png">
        <li>News</li>
        <li>World</li>
        <li>Politics</li>
        <li>Science</li>
        <li>Trending</li>
        <li>Social</li>
        <li>Entertainment</li>
        <li>Opinion</li>
        <li>Quizzes</li>
        <li>Comics</li>
        <li class="about">About</li>
      </ul>
    </div>
  </div>
</div>