<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 header">
      <div class="col-xl-9 col-lg-9 col-md-9">
        <ul>
          <img class="header-logo" src="../../assets/img/logo.png" routerLink="/">
          <li>News</li>
          <li>World</li>
          <li>Politics</li>
          <li>Science</li>
          <li>Trending</li>
          <li>Social</li>
          <li>Entertainment</li>
          <li>Opinion</li>
          <li>Quizzes</li>
          <li>Comics</li>
          <li class="about">About</li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3">
        <ul>
          <li routerLink="/create-article">User</li>
        </ul>
      </div>
    </div>
  </div>
</div>