<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 offset-xl-1 offset-lg-1 offset-md-1 articles">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <img src="../../assets/img/boy-coughing-story-image.jpg">
          <p>{{headers[1]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <img src="../../assets/img/woman_amoeba.jpg">
          <p>{{headers[2]}}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 articles featured" routerLink="/article/1">
      <img src="../../assets/img/taytay.jpg">
      <p class="featured">{{headers[0]}}</p>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 articles">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <img src="../../assets/img/cereal.jpg">
          <p>{{headers[3]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <img src="../../assets/img/Dave_Grohl.jpg">
          <p>{{headers[4]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>