<div class="container-fluid">
    <img class="header-logo" src="../../assets/img/logo.png">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 header">
            <ul>
                <li>News</li>
                <li>World</li>
                <li>Politics</li>
                <li>Science</li>
                <li>Trending</li>
                <li>Social</li>
                <li>Entertainment</li>
                <li>Opinion</li>
                <li>Quizzes</li>
                <li>Comics</li>
                <li class="about">About</li>
            </ul>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 offset-xl-1 offset-lg-1 offset-md-1 articles">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p>Inspiring: Terminally Ill Child Breaks Record For Most Consecutive Coughs</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p>When Animals Attack: Woman Savagely Mauled by Swarm of Amoebas</p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 articles">
            <img src="../../assets/img/taytay.jpg">
            <p>This Person We Are About To Interview Claims To Be Taylor Swift. She Better Not Be Fucking Lying.</p>   
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 articles">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p>4 Cereal Mascots From Your Childhood That Are Probably Still Politically Correct</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p>Dave Grohl Owes Me $5</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
